<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать</title>
</head>
<body>
    <h1>Приветствуем в команде, дорогой коллега</h1>
    <p>Мы начинающая независимая студия веб-разработки</p>
    <h2>Позволь представиться:</h2>
<ul>
    <li>Сергей Михайлов - главный разработчик</li>
    <img src="https://sun9-78.userapi.com/impg/2JfMyixxsrCv5IQxFfENf0zgRt9J1mXYAs54sA/DSVNvXlrkBg.jpg?size=320x480&quality=95&sign=37714acf94ac56bccd7d42603378a142&c_uniq_tag=bThyn8HIdj4eNf-W2d1_YXWnBuyoZV3oWY2kRbQ2jYU&type=album">
    <p></p>
    <li>Жорж Милославский - финансовый менеджер</li>
    <img src="https://www.vokrug.tv/pic/person/5/7/8/5/57852fc89b778f483022ea6a34b2a014.jpg">
</ul>
    <h3>Скоро здесь будет и твое имя ^_^</h3>
    <p>Кстати, мы уже реализовали проект сайта, который умеет вычислять результат возведения двойки в степень</p>
    <p>Убедись сам!</p>
    <p>http://localhost:8080/power/{значение степени}</p>
    <p></p>
    <h3>Не терпится вступить в команду? Отсавь заявку</h3>
    <a href="http://localhost:8080/recruitment">Оставить заявку</a>
    <p></p>
    <img src="https://i.pinimg.com/originals/2f/6c/5c/2f6c5c14c3266c51b960ef2b914379f4.gif">
</body>
</html>